.br-timeline li {
    position: relative;
    padding-left: 55px;
    margin-bottom: 0px;
    padding-bottom: 1.5em;
}

.br-timeline li:before {
    content: '';
    position: absolute;
    left: 20px;
    height: 100%;
    border-left: 3px solid #167FA9;

    width: auto;
    top: auto;
    background: inherit;
}

.br-timeline li:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    left: 17px;
    top: 8px;
    border-radius: 5px;
    background: white;
    border: 2px solid #167FA9;
}

.br-timeline h3 {
    padding: 0;
    margin-bottom: .5em;
}

.br-timeline .br-timeline-first:before {
    top: 8px;
    height: calc(100% - 8px);
}

.br-timeline .br-timeline-first:after {

}

.br-timeline .br-timeline-last:before {
    display: none;
}

.br-timeline .br-timeline-last:after {
    background: #167FA9;
}

.br-timeline .br-timeline-long {
    height: 30px;
}

.br-timeline .br-timeline-long:before {
    border-left: 3px dotted #167FA9;
}

.br-timeline .br-timeline-long:after {
    width: 0px;
    border: none;
}
